@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}


@keyframes slideInFromBottom {
  0% {
    transform: translateY(120%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes Opacity {
  0% {
    
    opacity: 0;
  }
  100% {
    
    opacity: 100%;
  }
}

@font-face {
    font-family: 'Archivo-Narrow-Bold-Italic';
    src:url('fonts/Archivo-Narrow-Bold-Italic.ttf.woff') format('woff'),
    url('fonts/Archivo-Narrow-Bold-Italic.ttf.svg#Archivo-Narrow-Bold-Italic') format('svg'),
    url('fonts/Archivo-Narrow-Bold-Italic.ttf.eot'),
    url('fonts/Archivo-Narrow-Bold-Italic.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

* {
             margin: 0;
            padding: 0;
  box-sizing: border-box;
         
         }

body {
 color: #00f;
 font-style: italic;
 text-transform: uppercase;
 font-family: 'Archivo-Narrow-Bold-Italic', Arial, sans-serif;
 background:url(pics/bg/bggif.gif);
 }



.header {
  width: 100%;
  min-height:10vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  background: #090f09;
  padding: 0px 20px;
  animation: 1s ease-out 0s 1 slideInFromTop; 
        }


.member, .call {
           
  display: flex;
  min-width: 10%;
  height: 4em;
  /*border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #090f09;
  align-content: center;
  justify-content: center;*/
  padding-top: 9px;
  
 
        }

.call:hover {
  background: azure;
  font-size: 1.4em;
}

.member:hover {
  background: azure;
  font-size: 1.4em;
}



.back {
 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 10%;
  height: 4em;
  cursor: help; 
  
    -webkit-transition:max-height 0.2s linear;
    -moz-transition:max-height 0.2s linear;
    transition:max-height 0.2s linear;
  
  
    
      }



.main {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  transform: translateY(100px);
 
}



.iframe{
  
  margin: 0 auto;
  width: 80%;
  height: 540px;
  align-content: center;
  animation: 2s ease-out 0s 1 Opacity;
  
  
  
 
}

.main-description {
  margin: 0 auto;
  width: 80%;
  height: 280px;
  animation: 3s ease-out 0s 1 Opacity;
  
}



h1 {
  
  font-size: 5em;
  font-weight: bold;
  text-align: center;
}  

h2 {
  
  font-size: 2em;
  text-align: center;
  
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

h1:hover {
  padding-left: 5px;
}  
   


        
a:link {
  text-decoration: none;
  color:  #0b02b0!important;
            }

a:visited{
  color: #2d2e33;
}




  



.videotable{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
  
.videotable a{
  color: red;
}
  

         

.videocell1, .videocell2, .videocell3 {
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;

   
} 

/*.video1, .video2, .video3 {
  
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  
}
*/
.iframe-videotable {
  
  
  height: 360px;
   
}




.footer{
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  height: 40em;
  padding-top: 15%;

}
.red a{
  color: red;
}

.blue a{
  color: blue;
}




       
 
@media (max-width: 1024px) {
   .videocell1 {
      width: 100%;
     flex-direction: column;
   }
}
@media (max-width: 1024px) {
   .videocell2 {
      width: 100%;
     flex-direction: column;
   }
}

@media (max-width: 1024px) {
   .videocell3 {
      width: 100%;
     flex-direction: column;
   }
}

@media (max-width: 800px) {
  .footer {
    flex-direction: column;
  }
}

